.container {
    font-family: Arial, sans-serif;

    background: #eeaeca;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh; /* Set the height to fill the viewport */
    margin: 0; /* Remove default margin */
    padding: 0;
}

.form-class {
    max-width: 400px;
    text-align: center;
    padding: 2%;
    position: relative;
    margin: 0 auto;
    background-color: #ffffff80; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    top: 10%;
}

.inp {
    appearance: none;
	border: none;
	outline: none;
	border-bottom: .2em solid #eeaeca;
	background: rgba(#eeaeca, .2);
	border-radius: .2em .2em 0 0;
	padding: .4em;
	color: #eeaeca;
    margin: 0 auto;
    position: relative;
    left: 50%;
    margin-top: 10px;
    text-align: center;
    
}


button {
    color: var(--bg);
    font-weight: 600;
    /*     background-image: linear-gradient(90deg, #fcecfe, #fbf6e7, #e6fcf5); */
    background-image: linear-gradient(
        315deg,
        #ffc4ec -10%,
        #efdbfd 50%,
        #ffedd6 110%
    );
    padding: .8em 1.4em;
    position: relative;
    isolation: isolate;
    box-shadow: 0 2px 3px 1px hsl(var(--glow-hue) 50% 20% / 50%), inset 0 -10px 20px -10px hsla(var(--shadow-hue),10%,90%,95%);
    border-color: white;
    border-radius: 0.66em;
    scale: 1;
    transition: all var(--spring-duration) var(--spring-easing);
    margin-top: 10px;
    left: 50%;
}

button:hover:not(:active),
button.active {
    transition-duration: calc(var(--spring-duration)*0.5);
    scale: 1.2;
    box-shadow: 0 4px 8px -2px hsl(var(--glow-hue) 50% 20% / 50%), inset 0 0 0 transparent;
}
button:active {
    scale: 1.1;
    transition-duration: calc(var(--spring-duration)*0.5);
}

.city_name {
    color: white;
    margin-bottom: 5px;
    position: relative;
    left: 50%;
    border-color: #ffffff80;
    border-radius: 1px;
    font-weight: bold;
}

.app-name {
    color: white;
    margin-bottom: 5px;
    position: relative;
    margin: auto;
    border-color: #ffffff80;
    border-radius: 1px;
    font-weight: bold;
    font-size: large;
}

.result-form {
    position: relative;
    margin: auto;
    left: 25%;
    width: 150%;
    margin-top: 10px;
}

p {
    color: white;
    font-weight: bolder;

}

.error {
    color: rgb(254, 117, 117);
    font-weight: bolder;

}
